* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.img {
    width: 100%;
    height: 150px;
}

.banner {
    position: relative;
}

.menu-bar {
    width: 100%;
    background-color: #7f7f7f;
    position: sticky;
    padding-top: 5px;
    padding-left: 30px;
}

.lg-bar {
    max-width: 100px;
    max-height: 100px;
}

.nav-b {
    display: inline-block;
    text-align: center;
}

.nav-b a {
    color: white;
    font-size: 20px;
    font-weight: 500;
}

.search-in {
    padding: 5px;
    color: black;
    width: 250 px;
    border: 1px black solid;
    border-radius: 50px;
    font-size: 20px;
    font-weight: 500;
}

.search-bar {
    position: relative;
}

.s-icon {
    font-size: 25px !important;
    position: absolute;
    top: -6px;
    right: -36px;
    padding-bottom: 10px;
}

.cart-icon {
    font-size: 38px !important;
    font-weight: 1500 !important;
    text-align: center;
    margin-left: 50px;
}

.main {
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
}

.img-div {
    padding-top: 40px;
    padding-left: 55px !important;
}

.img-slo {
    position: absolute;
    display: block;
    max-height: 700px;
    max-width: 420px;
    height: auto;
    width: auto;
    overflow: hidden;
}

.zoom {
    transition: transform 1s, filter 2s ease-in-out;
    transform: scale(1);
}

.zoom:hover {
    transform: scale(1.2);
}

.slogan {
    text-align: center;
}

.footer {
    background-color: black;
    padding-bottom: 40px;
    padding-top: 20px;
}

.bold h4 {
    font-weight: bold;
    color: white;
    margin-bottom: 10px;
}

.fo-text {
    color: #a5a5a5;
    margin-bottom: 10px;
    display: block;
}

.fo-icon {
    color: #a5a5a5;
    margin-right: 30px;
    font-size: 40px;
    display: inline-block;
}