* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.img {
  width: 100%;
  height: 150px;
}

.banner {
  position: relative;
}

.menu-bar {
  width: 100%;
  background-color: #7f7f7f;
  position: sticky;
  padding-top: 5px;
  padding-left: 30px;
}

.lg-bar {
  max-width: 100px;
  max-height: 100px;
}

.nav-b,
.nav-c .nav-d {
  display: inline-block;
  text-align: center;
}

.nav-d {
  display: none;
}

.nav-b a,
.nav-c a,
.nav-d a {
  color: white;
  font-size: 20px;
  font-weight: 500;
}

.search-in {
  padding: 5px;
  color: black;
  width: 250 px;
  border: 1px black solid;
  border-radius: 50px;
  font-size: 20px;
  font-weight: 500;
}

.search-bar {
  position: relative;
}

.s-icon {
  font-size: 25px !important;
  position: absolute;
  top: -6px;
  right: -36px;
  padding-bottom: 10px;
}

.cart-icon {
  font-size: 38px !important;
  font-weight: 1500 !important;
  text-align: center;
  margin-left: 50px;
}

.h-banner {
  width: 100%;
  height: 605px;
}

.main-pro {
  margin-top: 40px;
  margin-bottom: 20px;
}

.sale-ban {
  width: 100%;
  margin-top: 20px;
}

.title-text {
  text-align: center;
  margin-top: 30px;
}

@media only screen and (max-width: 744px) {
  .nav-c {
    display: none;
  }

  .nav-b {
    margin-left: 50px;
    margin-right: 30px;
  }

  .search-in {
    padding: 5px;
    max-width: 250px;
  }

  .s-icon {
    font-size: 25px !important;
    position: absolute;
    top: -6px;
    right: -36px;
    padding-bottom: 10px;
  }

  .nav-d {
    display: inline-block;
    margin-left: 10px;
  }

  .h-banner {
    width: 100%;
    height: 480px;
  }
}